/* Hintergrund */
.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI", "Times New Roman", sans-serif;
    -fx-background: FC0 (130, 130, 130);
    -fx-base: rgb(0,0,0);
    -fx-text-fill: rgb(0,0,0);
}

.grid-left {

}

/* Tic-Tac-Toe-Feld */
.ttt-field {
    -fx-background-color: rgb(130, 130, 130);
    -fx-font-size: 50pt;
    -fx-min-width: 150px;
    -fx-min-height: 150px;
    -fx-border-color: rgb(0,0,0);
}
.ttt-field:hover {
    -fx-background-color: rgb (170, 170, 170);
}

/* Einzelne Felder */
#a0 {
    -fx-border-width: 0 1 1 0;
}
#b0 {
    -fx-border-width: 0 1 1 1;
}
#c0 {
    -fx-border-width: 0 0 1 1;
}
#a1 {
    -fx-border-width: 1 1 1 0;
}
#b1 {
    -fx-border-width: 1;
}
#c1 {
    -fx-border-width: 1 0 1 1;
}
#a2 {
    -fx-border-width: 1 1 0 0;
}
#b2 {
    -fx-border-width: 1 1 0 1;
}
#c2 {
    -fx-border-width: 1 0 0 1;
}


.grid-right {
    -fx-border-width: 0 0 0 2;
    -fx-border-color: rgb(0,0,0);
}

.table-header {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}
.table-user-sign {
    -fx-fill: white;
    -fx-prompt-text-fill: transparent;
    -fx-text-alignment: center;
    -fx-font-size: 20pt;
}
.table-user-points {
    -fx-text-alignment: center;
}

.menu-button {
    -fx-background-color: rgb(190,190,190);
    -fx-text-fill: rgb(0,0,0);
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
    -fx-border-color: rgb(255,255,255);
    -fx-border-width: 2;
    -fx-min-width: 150px;
}
.menu-button:hover,
.menu-button:focused {
    -fx-cursor: pointer;
    -fx-background-color: rgb(0,0,0);
    -fx-text-fill: rgb(255,255,255);
    -fx-border-color: rgb(255,255,255);
    -fx-prompt-text-fill: transparent;
}
.button-exit {
    -fx-fill: *F00*;
}
.test {
    -fx-fill: red;
}